* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

#text {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
}

.title {
    margin-top: 0px;
}

.border {
    border: 2px solid;
}

.buttons {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 50px;
}

.link-inline {
    padding: 5px;
    width: auto;
}