* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

#text {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}

#author {
    margin-top: 0px;
}

.border {
    border: 2px solid;
}